/* fira-code-regular - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/fira-code-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/fira-code-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-code-700 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/fira-code-v9-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/fira-code-v9-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  font-family: "Fira Code", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0px;
}

.main-container {
  max-width: 800px;
  padding: 0 1em;
  margin: auto;
}

input[type="submit"],
select {
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
}

select option {
  cursor: pointer;
}

input[type="submit"]:hover {
  background: black;
  color: white;
}

#attractor-equation-definition {
  width: fit-content;
  padding: 1em 2em;
  background: #eee;
}

a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
