html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

#canvases-container {
  flex-grow: 1;
  margin: 0px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #fff;
}

#instructions {
  width: 20%;
  max-width: 300px;
  padding: 0 1em;
  font-family: "Fira Code";
}

#instructions code {
  padding: 0.5em;
  background: #eee;
  border-radius: 5px;
}

.canvas-row {
  display: flex;
  justify-content: space-around;
}

.canvas-container {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
}

.canvas-container:hover canvas {
  opacity: 1;
  color: black;
}

.canvas-container:hover .cell-controller {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.cell-controller {
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
}

input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  cursor: pointer;
}

.attractor-value-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.value-controller {
  display: flex;
  flex-direction: row;
}

.attractor-variable-controller {
  display: flex;
  justify-content: center;
  margin: 12px;
  font-family: "Fira Code";
}

.main-container {
  max-width: 800px;
  margin: auto;
}

a,
a:visited {
  color: inherit;
}
